nav {
  background-color: $black;
  color: $whiteText;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;

  a {
    color: $whiteText;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
    &:hover {
      opacity: 0.8;
      color: $gold;
      text-decoration: none;
    }
  }
  .menu-nav-container {
    width: 75%;
  }
  #menu-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
  }
  .contact-info {
    width: 25%;
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;
    i {
      padding-right: 25px;
      &:hover {
        color: $gold;
      }
    }
  }
  .search-input {
    background-color: black;
    color: white;
    padding: 5px;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    text-align: center;
    font-family: 'FontAwesome', 'Open Sans', sans-serif;
  }
  .current-menu-item {
    a {
      color: $gold;
    }
  }
}
