
.page-template-default {

  .site-main{
    display: flex;
    flex-wrap: wrap;
  }

  .site-main {
    padding-left: unset;
    padding-right: unset;
    
  }
  .sidebar {
    padding-left: unset;
    padding-right: unset;
    
  }
}