
.hero-with-featured-review {

  background-color: $darkGrey;

  @include media-breakpoint-up(lg) {
    padding: 0 50px 0 0;
  }
  
   h1 {
    display: flex;
    justify-content: center;
    color: $whiteText;
    font-size: 2rem;
    padding: 20px 0;
    width: 100%;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .featured-image {
    padding-left: 0;
    padding-right: 0;
    img {
      width: 100%;
      height: auto;
      max-height: 325px;
      object-fit: cover;
    }
    &:after {
      content: '';
      display: block;
      background-color: black;
      padding-top: 50px;
      margin-top: -2px;
    }
    .text {
      width: 100%;
      position: absolute;
      bottom: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-shadow: 1px 1px 1px rgba(16, 16, 16, 0.8);
      z-index: 1;
      
      h3 {
        color: $whiteText;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }

      i {
        color: gold;
        font-size: 2rem;
        margin-bottom: 10px;
      }
    }
  }

  .featured-text {

    @include media-breakpoint-down(lg) {
      padding-top: 50px;
    }

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2  {
      a {
        color: $whiteText;
        font-size: 1.3rem;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
          color: $gold;
        }
      }
      margin-bottom: 15px;
    }

    .rating {
      display: flex;
      justify-content: center;
      color: $gold;
      margin-bottom: 15px;
    }

    p {
      color: $whiteText;
      line-height: 1.5;
      word-spacing: 2px;
      padding: 0px 15px;
    }

    span {
      a {
        color: $gold;
          &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 0.9rem;
    color: $whiteText;
    width: 100%;

    h3 {
      color: $whiteText;
    }

    a {
      color: $gold;
      padding-right: 10px;
      &:visited {
        color: $gold;
      }
    }
  }

  
}